p{
	text-align: justify;
	font-size: 18px;
}

.notes{
	margin-right: 2vw;
}


.container{
  display: flex;
  font-family: "arial";
  margin-right: 2vw;
  margin-left: 2vw;
}

#random{
	margin-right: 2vw;
  margin-left: 2vw;
	display: inline-block;
/*  overflow: scroll;*/
/*  white-space: nowrap;*/
  font-size: 50px;
  width: 0;
  animation: typing;
  animation-duration: 3s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

